build --crosstool_top=@llvm_toolchain//:toolchain
build --copt=-Wall
build --copt=-Wno-unused-function
build --copt=-Wno-strict-overflow
build --copt=-Wno-sign-compare
build --copt=-mavx
build --copt=-march=native
build --copt=-Wno-unused-local-typedefs
build --linkopt=-ltcmalloc
build --strip never
build --dynamic_mode off
build --compilation_mode opt

build:asan --copt -g
build:asan --copt -fsanitize=address
build:asan --copt -O1
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
test:asan --test_env=ASAN_OPTIONS
test:asan --test_env=LSAN_OPTIONS
test:asan --test_env=ASAN_SYMBOLIZER_PATH

test --test_env DISPLAY=:0
test --test_env XDG_RUNTIME_DIR=/run/user/1000
test --test_env XAUTHORITY=/home/glalonde/.Xauthority 
