---
Language:        Cpp
BasedOnStyle:  Google
Standard: Cpp11
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
---
Language: Proto
BasedOnStyle:  Google
